body {
  margin: 0;
  padding: 0;
  font-family: 'Palatino', sans-serif;
  background-color: #89c4c1;
  font-size: 22px; line-height: 24px;
}

.game_container{
  width: 730px;
  margin: 0 auto;
}

.gotcha_cell{
  width: 70px;
  height: 70px;
  text-align: center;
  vertical-align: center;
  line-height: 50px;
  background-color: #DDD;
  border: 1px solid;
}

.gotcha_row{
  width: 350px;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  -webkit-transition: 150ms ease-in-out;
  -moz-transition: 150ms ease-in-out;
  -o-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.gotcha_row .move-left{
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.gotcha_row .move-right{
  -webkit-transform: translateX(140px);
          transform: translateX(140px);
}

.game {
  width: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  width: 250px;
  float: right;
  padding-top: 80px;
  padding-right: 50px;
}

.game-area{
  display:flex;
  justify-content: flex-start;
}

.gotcha_board{
  width: 490px;
  height: 210px;
}

.gotcha_control_panel{
  width: 120px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gotcha_drop_panel{
  width: 210px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
}

.game button{
  height: 35px;
  width : 35px;
  font-size: 16pt;
}

.board-edge {
  background-color: blue;
  height: 30px;
  width :210px;
}
.top-board {
  border-radius: 80px 80px 0px 0px;
}

.bottom-board {
  border-radius: 0px 0px 80px 80px;
}

.next_player {
  padding-top:80px;
  font-size: 24pt;
  color: white;
}

h1 {
  color: #FFFFFF;
  font-family: 'times', cursive;
  font-size: 72pt;
  font-weight: normal;
  line-height: 60px;
  text-align: center;
}
